body {
    padding-top: 15px;
    font-size: 12px
  }
  .main {
    max-width: 420px;
    margin: 0 auto;
  }
  
  h3 {
    text-align: center;
    line-height: 300%;
  }

  .edit{
    color: #fff;
background-color: #428bca;
border-color: #357ebd;
  }

  