 <h3>Zaloguj się lub <a href="view/register.html">zarejestruj</a></h3>
     
      <form role="form">
        <div class="form-group top">
         <i class="glyphicon glyphicon-user"></i>
          <label for="inputUsernameEmail">Adres email</label>
          <input type="email" class="form-control" id="inputUsernameEmail" required>
        </div>
        <div class="form-group">
          <a class="pull-right" href="view/password-recovery.html">Zapomniałeś hasła?</a>
           <i class="glyphicon glyphicon-lock"></i>
          <label for="inputPassword">Hasło</label>
          <input type="password" class="form-control" id="inputPassword">
        </div>
        <div class="checkbox pull-right">
          <label>
            <input type="checkbox">
            Zapamiętaj mnie </label>
        </div>
        <button type="submit" class="btn btn btn-primary">
          Zaloguj
        </button>
      </form>
   