   <h3>Rejestracja</a></h3>
     
      <form role="form">

         <div class="form-group">
          <label for="name">Imię</label>
           <input type="text" class="form-control" id="name" required>
        </div>

        <div class="form-group">
          <label for="name">Nazwisko</label>
           <input type="text" class="form-control" id="name" required>
        </div>

         <div class="form-group">
          <label for="number">Numer indeksu</label>
           <input type="number" class="form-control" id="number" required>
        </div>

        <div class="form-group">
          <label for="inputUsernameEmail">Adres email</label>
           <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Wpisz adres email" required>
        </div>


        <div class="form-group">
        <label for="exampleInputPassword1">Hasło</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Hasło minimum 8 znaków" required>
        </div>

        
     


        <button type="submit" class="btn btn btn-primary">
          Załóż konto
        </button>
      </form>

      <div class="test">
        


      </div>